{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="">
    <h1>Home Page</h1>

    <div>
        <h2>Jeux</h2>
        {% if is_granted(ROLE_USER) %}
            <a href="{{ path('home') }}"><h2>Editeurs</h2></a>
        {% endif %}
    </div>

{#     {% for game in games %}
        <li>
            {{ game.title }} de {{ game.user.firstName }} créé le {{ game.createdAt|date('d m Y') }}
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('game_edit', {'id': game.id}) }}">Editer</a>
                <a href="{{ path('game_delete', {'id': game.id}) }}">Supprimer</a>
            {% endif %}
        </li>
    {% endfor %} #}
</div>
{% endblock %}
